.container
  .row
    .col-md-12
      %hr
      %p
        %span
          DeadDrop is
          %a{:href => "https://github.com/samurailink3/deaddrop"} Open Source
          and
          %a{:href => "http://opensource.org/licenses/MIT"} Licensed under the MIT License
        %span.pull-right
          Created by
          %a{:href => "http://samurailink3.com"} Tom "SamuraiLink3" Webster
/ Piwik
:javascript
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//stats.samurailink3.com/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 9]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
%noscript
  %p
    %img{:alt => "", :src => "//stats.samurailink3.com/piwik.php?idsite=9", :style => "border:0;"}/
/ End Piwik Code
:javascript
  $(function () {
    $('#dropzone').fileupload({
      dataType: 'json',
      done: function (e, data) {
        $.each(data.result.files, function (index, file) {
            $('<p/>').text(file.name).appendTo('#files');
          });
      },
      progressall: function (e, data) {
          var progress = parseInt(data.loaded / data.total * 100, 10);
          $('#progress .progress-bar').css(
              'width',
              progress + '%'
          );
      }
    });
  });
