.row
  .col-md-12
    .jumbotron.text-center
      %h1 DeadDrop
      %h2.text-muted Let them eat files!
      %a.btn.btn-lg.btn-success{:href => '/upload'} Upload
.row
  .col-md-12
    %h1.text-center
      Click
      %strong"Upload"
      to get started!
.row
  .col-md-12
    %h1#deaddrop- DeadDrop!
    %h2#the-easy-self-hosted-file-uploader The Easy Self-Hosted File Uploader
    %h3#what- What?
    %p
      A tiny
      %a{:href => "http://www.sinatrarb.com/"} Sinatra
      app designed to allow brain-dead simple uploads to either the local filesystem or Amazon S3.
    %h3#why- Why?
    %p I needed a simple way for family members to send me large file attachments and didn't want to use a third-party uploader or service. This is a stupid-simple drag and drop solution (with a form for IE users) that can upload to the local filesystem or Amazon S3. And it was another excuse to get familiar with Sinatra.
    %h3#props- Props!
    %p
      Major credit goes to
      %a{:href => "https://github.com/blueimp/"} blueimp
      for his ultra-rad
      %a{:href => "https://github.com/blueimp/jQuery-File-Upload"} jQuery File Upload
      plugin. Without whom, no drag and drop support would be possible.
    %h3#limitations Limitations
    %p
      By default, there are no restrictions on filesize, type, or number of files. If you would like to restrict these things in any way check out
      = succeed "." do
        %a{:href => "https://github.com/blueimp/jQuery-File-Upload/wiki/Options"} blueimp's documentation here
