!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title DeadDrop: The Easy Self-Hosted File Uploader
    %link{:href => "/assets/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "/assets/css/bootstrap-theme.min.css", :rel => "stylesheet"}/
    %link{:href => "/assets/css/jquery.fileupload.css", :rel => "stylesheet"}/
    %script{:src => "/assets/js/jquery-2.1.1.min.js"}
    %script{:src => "/assets/js/bootstrap.min.js"}
    %script{:src => "/assets/js/jquery.ui.widget.js"}
    %script{:src => "/assets/js/jquery.iframe-transport.js"}
    %script{:src => "/assets/js/jquery.fileupload.js"}
  %body
    = haml :header
    .container
      = yield
    = haml :footer
