.row
  .col-md-12
    #dropzone.panel.panel-primary
      .panel-heading
        %h2.text-center Drag files here!
      .panel-body
        #progress.progress
          .progress-bar.progress-bar-success
      #files.panel-footer
.row
  .col-md-12
    %h1 If you can't use the drag-and-drop method above, use the form below to upload your files.
    %form{:action => '/upload', :method => 'post', :enctype => 'multipart/form-data'}
      %input{:type => 'file', :name => 'files[]', :id => 'content_file', :multiple => true}
      %button.btn.btn-primary{:type => 'submit'} Save
